.container {
  display: flex;
}

.aside {
  margin-top: 20px;

  h5 {
    color: map-get($colores, color-secundario);
  }
}

.input_cat {
  display: flex;

  input {
    margin-top: 3px;
    margin-right: 5px;
  }
}

.productos_index1 {
  display: flex;
  flex-wrap: wrap;
}

.index_coleccion1 {
  @include m-ancho(20px, 80px);
  margin-right: 10px;
  text-align: center;

  img {
    width: 100%;
  }
}

.image-box img {
  max-width: 100%;
  transition: all 0.5s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.image-box:hover img {
  transform: scale(1.1);
}