* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

$color-principal: #d3a84c;
$color-secundario: #7a632f;
$color-fondo: #212529;

@import "pages";
@import "footer";

.titulo h1 {
    color: $color-principal;
}

.titulo p {
    color: $color-secundario;
    font-size: 18px;
}

.index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.index-ropa {
    width: 140px;
    margin: 20px;
}

.btn-center {
    margin-left: 40%;
}

.envios {
    color: rgb(255, 255, 255);
    background-color: $color-fondo;
    font-size: 13px;
}

.cabj-titulo {
    color: #1a1a77;
}

.snoopy-titulo {
    color: rgb(10, 78, 10);
}

.span-index {
    color: #7a632f;
    font-size: 15px;
    font-weight: light;
    text-decoration: underline;
}

.a-forget {
    color: $color-principal;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #b4b4b4;
}

@media(min-width:576px) {

    .index-ropa {
        width: 250px;
        margin: 20px;
    }

    .btn-center {
        margin-left: 45%;
    }

    .index_coleccion1 {
        margin: 20px;
        width: 195px;
        margin-left: 30px;
        text-align: center;
    }

    .footer-1 {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

}