* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

$colores: (
    color-principal: #222525e7,
    color-secundario: #4d4a43,
    color-fondo: #212529,
    headerfooter: #ffffff
);

@mixin m-ancho($margen, $ancho) {
    margin: $margen;
    width: $ancho;
}

@import "index";
@import "pages";
@import "footer";
@import "media";

.envios {
    @extend .footer;
    font-size: 13px;
}

.titulo {
    h1 {
        color: map-get($colores, color-principal);
        font-size: 30px;
    }
}

.a-forget {
    color: map-get($colores, color-principal);
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: #b4b4b4;
    }
}