@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cairo:wght@300&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Fredoka+One&family=Gentium+Plus&family=Joan&family=Tai+Heritage+Pro&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

$colores: (
    color-principal: #338528cb,
    color-secundario: #474040,
    color-fondo: #212529,
    headerfooter: #ffffff
);

@mixin m-ancho($margen, $ancho) {
    margin: $margen;
    width: $ancho;
}

@import "index";
@import "pages";
@import "footer";
@import "media";

.envios {
    @extend .footer;
    font-size: 13px;
}

.titulo {
    h1 {
        color: map-get($colores, color-principal);
        font-size: 30px;
        font-family: Fredoka One;   

    }
}

.a-forget {
    color: map-get($colores, color-principal);
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: #b4b4b4;
    }
}