* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.envios {
    color: rgb(255, 255, 255);
    background-color: #212529;
}

a {
    outline: none;
    text-decoration: none;
}

.titulo p {
    color: #212529;
}

.dropdown-menu {
    background: #212529;
}

.dropdown-item {
    color: #9b9d9e;
}

.container {
    display: flex;
}

.aside {
    margin-top: 20px;
}

.input_cat {
    display: flex;
}

.input_cat input {
    margin-top: 3px;
    margin-right: 5px;
}

.productos_index1 {
    display: flex;
    flex-wrap: wrap;
}

.index_coleccion1 {
    margin: 20px;
    margin-right: 10px;
    width: 80px;
    text-align: center;
}

.index_coleccion1 img {
    width: 100%;
}

.footer {
    background-color: #212529;
    color: white;
}

@media(min-width:576px) {

    .envios {
        color: #ffffff;
        background-color: #212529;
    }

    a {
        outline: none;
        text-decoration: none;
    }

    .titulo p {
        color: #212529;
    }

    .dropdown-menu {
        background: rgb(36, 40, 41);
    }

    .dropdown-item {
        color: #9b9d9e;
    }

    .container {
        display: flex;
    }

    .aside {
        margin-top: 20px;
    }

    .input_cat {
        display: flex;
    }

    .input_cat input {
        margin-top: 3px;
        margin-right: 5px;
    }

    .productos_index1 {
        display: flex;
        flex-wrap: wrap;
    }

    .index_coleccion1 {
        margin: 20px;
        width: 200px;
        margin-left: 30px;
        text-align: center;
    }

    .index_coleccion1 img {
        width: 100%;
    }

    .footer {
        background-color: #212529;
        color: white;
    }

}