
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.envios {
    color: rgb(255, 255, 255);
    background-color: black;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-areas: "aside main";
    grid-template-columns: 20px auto;
    grid-template-rows: auto;
    margin-bottom: 250px;     

}

.aside {
    grid-area: aside;
    margin-top: 10px;
}

.input_cat {
    display: flex;
    margin-left: 10px;
}

.input_cat input {
    margin-top: 3px;
    margin-right: 5px;
}

.main {
    grid-area: main;;
    margin-left: 80px;
}

.productos_index1 {
    display: flex;
    flex-wrap: wrap;
}

.index_coleccion1 {
    margin: 10px;
    width: 95px;
}

.index_coleccion1 img {
    width: 100%;
}

.footer {
    background-color: black;
    color: white;
    height: 20px;
}

@media(min-width:576px) {
    
    .envios {
        color: rgb(255, 255, 255);
        background-color: black;
    }

    .container {
        display: grid;
        height: 100vh;
        grid-template-areas: "aside main";
        grid-template-columns: 80px auto;
        grid-template-rows: auto;
        margin-bottom: 300px;     
    }

    .aside {
        grid-area: aside;
    }

    .input_cat {
        display: flex;
    }

    .input_cat input {
        margin-top: 3px;
        margin-right: 5px;
    }

    .main {
        grid-area: main;
    }

    .productos_index1 {
        display: flex;
        flex-wrap: wrap;
    }

    .index_coleccion1 {
        margin: 20px;
        width: 250px;
        margin-left: 30px;
        text-align: center;
    }

    .index_coleccion1 img {
        width: 100%;
    }

    .footer {
        background-color: black;
        color: white;
        height: 20px;
    }

}